
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610297857609564966.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-610297857609564966.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-610297857609564966.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610297857609564966.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610297857609564966.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610297857609564966.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610297857609564966.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610297857609564966.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610297857609564966.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610297857609564966.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610297857609564966.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610297857609564966.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610297857609564966.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610297857609564966.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610297857609564966.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610297857609564966.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610297857609564966.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610297857609564966.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610297857609564966.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610297857609564966.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610297857609564966.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610297857609564966.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610297857609564966.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610297857609564966.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610297857609564966.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610297857609564966.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610297857609564966.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610297857609564966.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610297857609564966.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610297857609564966.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610297857609564966.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610297857609564966.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610297857609564966.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610297857609564966.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-610297857609564966.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610297857609564966.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-610297857609564966.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610297857609564966.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-610297857609564966.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-610297857609564966.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-610297857609564966.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610297857609564966.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-610297857609564966.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610297857609564966.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610297857609564966.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-610297857609564966.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-610297857609564966.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-610297857609564966.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-610297857609564966.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-610297857609564966.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610297857609564966.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-610297857609564966.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610297857609564966.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610297857609564966.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610297857609564966.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610297857609564966.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-610297857609564966.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-610297857609564966.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-610297857609564966 .gp-invisible{visibility:hidden}.gps-610297857609564966 .\!gp-absolute{position:absolute!important}.gps-610297857609564966 .gp-absolute{position:absolute}.gps-610297857609564966 .gp-relative{position:relative}.gps-610297857609564966 .gp-top-0{top:0}.gps-610297857609564966 .-gp-z-1{z-index:-1}.gps-610297857609564966 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610297857609564966 .gp-mb-0{margin-bottom:0}.gps-610297857609564966 .gp-flex{display:flex}.gps-610297857609564966 .gp-grid{display:grid}.gps-610297857609564966 .\!gp-hidden{display:none!important}.gps-610297857609564966 .gp-hidden{display:none}.gps-610297857609564966 .gp-h-full{height:100%}.gps-610297857609564966 .gp-w-full{width:100%}.gps-610297857609564966 .gp-max-w-full{max-width:100%}.gps-610297857609564966 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610297857609564966 .gp-flex-col{flex-direction:column}.gps-610297857609564966 .gp-items-center{align-items:center}.gps-610297857609564966 .gp-justify-center{justify-content:center}.gps-610297857609564966 .\!gp-self-center{align-self:center!important}.gps-610297857609564966 .gp-self-center{align-self:center}.gps-610297857609564966 .gp-overflow-hidden{overflow:hidden}.gps-610297857609564966 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610297857609564966 .gp-duration-200{transition-duration:.2s}.gps-610297857609564966 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-610297857609564966 .tablet\:\!gp-absolute{position:absolute!important}.gps-610297857609564966 .tablet\:\!gp-hidden{display:none!important}.gps-610297857609564966 .tablet\:gp-hidden{display:none}.gps-610297857609564966 .tablet\:gp-justify-center{justify-content:center}.gps-610297857609564966 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-610297857609564966 .mobile\:\!gp-relative{position:relative!important}.gps-610297857609564966 .mobile\:\!gp-hidden{display:none!important}.gps-610297857609564966 .mobile\:gp-hidden{display:none}.gps-610297857609564966 .mobile\:\!gp-h-auto{height:auto!important}.gps-610297857609564966 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-610297857609564966 .mobile\:gp-justify-center{justify-content:center}.gps-610297857609564966 .mobile\:\!gp-self-center{align-self:center!important}.gps-610297857609564966 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-610297857609564966 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F8EFE8","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gWUfUgZZsV"}' data-id="gWUfUgZZsV" id="gWUfUgZZsV" data-same-height-subgrid-container class="gWUfUgZZsV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F8EFE8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gczqtHz-fx gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gi-7wp3xqJ"
        class="gi-7wp3xqJ gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--d:flex;--d-tablet:flex;--d-mobile:flex;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--w:auto;--w-tablet:auto;--w-mobile:100%;--h:626px;--h-tablet:626px;--h-mobile:fit-content"
        gp-data='{"background":{"desktop":{"type":"image","image":{"src":"https://cdn.shopify.com/s/files/1/0676/0736/3839/files/Hero_Section.png","width":1140,"height":626,"storage":"FILE_CONTENT","backupFileKey":"gempages_610297719751181015-c6067771-310c-49fc-9985-da53ab336023.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"tablet":{"type":"image","image":{"src":"https://cdn.shopify.com/s/files/1/0676/0736/3839/files/Hero_Section.png","width":1140,"height":626,"storage":"FILE_CONTENT","backupFileKey":"gempages_610297719751181015-c6067771-310c-49fc-9985-da53ab336023.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false},"mobile":{"type":"image","image":{"src":"https://cdn.shopify.com/s/files/1/0676/0736/3839/files/Hero_Section.png","width":1140,"height":626,"storage":"FILE_CONTENT","backupFileKey":"gempages_610297719751181015-c6067771-310c-49fc-9985-da53ab336023.png"},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","video":"","videoHtml5":"","videoType":"youtube","loop":true,"lazyLoad":false,"videoAlign":"center","preload":false}},"uid":"gi-7wp3xqJ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[6,6],"display":"fill"},"mobile":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"shape":"original","widthHeightLinked":false,"width":"","shapeVideo":"16/9","enableVideoShape":false,"gap":"","height":"626px"},"tablet":{"shape":"original","widthHeightLinked":false,"width":"","shapeVideo":"16/9","enableVideoShape":false,"gap":"","height":"626px"},"mobile":{"shape":"custom","width":"100%","shapeVideo":"custom","enableVideoShape":false,"widthHeightLinked":false,"height":"fit-content"}},"videoObjectFit":{"desktop":"cover","tablet":"cover","mobile":"cover"},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":false}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:626px;--h-tablet:626px;--h-mobile:fit-content;--aspect:auto;--aspect-tablet:auto">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax" style="--bgi:url({{ "Hero_Section.png" | file_url }});--bgi-tablet:url({{ "Hero_Section.png" | file_url }});--bgi-mobile:url({{ "Hero_Section.png" | file_url }});--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "Hero_Section.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Hero_Section.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "Hero_Section.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Hero_Section.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "Hero_Section.png" | file_url }}" isNotLazyload="true" srcset base-src="{{ "Hero_Section.png" | file_url }}" loading="lazy"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined undefined mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:0;--d-mobile:none"
      class="gaAEiRVFVe gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:1;--d-mobile:none"
      class="go4MbiixRH gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Hero_Section.png" | file_url }}" srcset="{{ "Hero_Section.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Hero_Section.png" | file_url }}" srcset="{{ "Hero_Section.png" | file_url }}" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="{{ "Hero_Section.png" | file_url }}" data-src="{{ "Hero_Section.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:626px;--h-tablet:626px;--h-mobile:fit-content;--w:auto;--w-tablet:auto;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-610297857609564966 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/himanitest123/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=610297770250601017&sectionId=610297857609564966)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}