
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614247644155347758.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614247644155347758.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614247644155347758.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614247644155347758.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-614247644155347758.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614247644155347758.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614247644155347758.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614247644155347758.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-614247644155347758.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614247644155347758.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614247644155347758.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614247644155347758.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614247644155347758.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-614247644155347758.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614247644155347758.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-614247644155347758.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614247644155347758.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614247644155347758.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-614247644155347758.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614247644155347758.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-614247644155347758.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614247644155347758.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-614247644155347758.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614247644155347758.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614247644155347758.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-614247644155347758.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614247644155347758.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-614247644155347758.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614247644155347758.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-614247644155347758.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614247644155347758.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614247644155347758.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614247644155347758.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614247644155347758.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614247644155347758.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614247644155347758.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614247644155347758.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614247644155347758.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614247644155347758.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614247644155347758.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614247644155347758.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614247644155347758.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614247644155347758.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614247644155347758.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614247644155347758.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614247644155347758.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614247644155347758.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-614247644155347758.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614247644155347758.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614247644155347758.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614247644155347758.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614247644155347758.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614247644155347758.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614247644155347758.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614247644155347758.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614247644155347758.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614247644155347758.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614247644155347758.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614247644155347758.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614247644155347758.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614247644155347758.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614247644155347758.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614247644155347758.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-614247644155347758.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-614247644155347758.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614247644155347758.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614247644155347758.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614247644155347758.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614247644155347758.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614247644155347758.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614247644155347758.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614247644155347758.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614247644155347758.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614247644155347758.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-614247644155347758.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614247644155347758.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614247644155347758.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-614247644155347758.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614247644155347758.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614247644155347758.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614247644155347758.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614247644155347758.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614247644155347758.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-614247644155347758.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614247644155347758.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614247644155347758.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614247644155347758.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614247644155347758.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614247644155347758.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614247644155347758.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614247644155347758.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614247644155347758 .gp-relative{position:relative}.gps-614247644155347758 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614247644155347758 .gp-mb-0{margin-bottom:0}.gps-614247644155347758 .gp-inline-block{display:inline-block}.gps-614247644155347758 .gp-flex{display:flex}.gps-614247644155347758 .gp-inline-flex{display:inline-flex}.gps-614247644155347758 .gp-grid{display:grid}.gps-614247644155347758 .gp-contents{display:contents}.gps-614247644155347758 .\!gp-hidden{display:none!important}.gps-614247644155347758 .gp-hidden{display:none}.gps-614247644155347758 .gp-h-auto{height:auto}.gps-614247644155347758 .gp-h-full{height:100%}.gps-614247644155347758 .gp-w-full{width:100%}.gps-614247644155347758 .gp-max-w-full{max-width:100%}.gps-614247644155347758 .gp-flex-none{flex:none}.gps-614247644155347758 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614247644155347758 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-614247644155347758 .gp-flex-col{flex-direction:column}.gps-614247644155347758 .gp-items-center{align-items:center}.gps-614247644155347758 .gp-justify-center{justify-content:center}.gps-614247644155347758 .gp-overflow-hidden{overflow:hidden}.gps-614247644155347758 .gp-break-words{overflow-wrap:break-word}.gps-614247644155347758 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-614247644155347758 .gp-no-underline{text-decoration-line:none}.gps-614247644155347758 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614247644155347758 .gp-duration-200{transition-duration:.2s}.gps-614247644155347758 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614247644155347758 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-614247644155347758 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-614247644155347758 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-614247644155347758 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-614247644155347758 .tablet\:\!gp-hidden{display:none!important}.gps-614247644155347758 .tablet\:gp-hidden{display:none}.gps-614247644155347758 .tablet\:gp-h-auto{height:auto}.gps-614247644155347758 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-614247644155347758 .mobile\:\!gp-hidden{display:none!important}.gps-614247644155347758 .mobile\:gp-hidden{display:none}.gps-614247644155347758 .mobile\:gp-h-auto{height:auto}.gps-614247644155347758 .mobile\:gp-flex-none{flex:none}}.gps-614247644155347758 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-614247644155347758 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F2","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gNWwAkJxHc"}' data-id="gNWwAkJxHc" id="gNWwAkJxHc" data-same-height-subgrid-container class="gNWwAkJxHc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:90px;--pb:90px;--pt-tablet:60px;--pl-tablet:48px;--pb-tablet:60px;--pr-tablet:48px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F3F6F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gItKUDjwYK gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gS2rRylapu"}' data-id="gS2rRylapu" id="gS2rRylapu" data-same-height-subgrid-container class="gS2rRylapu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:32px;--cg-tablet:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="gTNwYCOcMi gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gk9e7hZASw"
        class="gk9e7hZASw"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:4px;--mb-tablet:4px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#252A1A;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggk9e7hZASw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gk9e7hZASw">
        .gk9e7hZASw {

}
.gk9e7hZASw p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gU86P4M_4H"
        class="gU86P4M_4H"
        style="--ta:center;--mb:12px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:600;--size:38px;--size-tablet:38px;--size-mobile:28px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggU86P4M_4H_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1jrNVgvXB"
        class="g1jrNVgvXB"
        style="--ta:left;--mb:20px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1jrNVgvXB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mb-tablet:12px;--mb-mobile:12px;--ta:left;--ta-tablet:left" >
        <style>[data-id="grR-BUU7mm"].gp-button-base::before, [data-id="grR-BUU7mm-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 999px;
      border-bottom-right-radius: 999px;
      border-top-left-radius: 999px;
      border-top-right-radius: 999px;
      
  
    }
  
      
  [data-id="grR-BUU7mm"]:hover::before, [data-id="grR-BUU7mm-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="grR-BUU7mm" dataId="grR-BUU7mm" data-state="idle" aria-label="<p>Learn More</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:42px;--pr:42px;--pt:10px;--pb:10px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:10px;--pb-mobile:10px;--bblr:999px;--bbrr:999px;--btlr:999px;--btrr:999px;--hvr-bblr:999px;--hvr-bbrr:999px;--hvr-btlr:999px;--hvr-btrr:999px;--bgi:;--hvr-bgi:;--bg:#46593D;--hvr-bg:#46593D;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:capitalize"
          class="grR-BUU7mm gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--tt:capitalize;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggrR-BUU7mm_label | downcase }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="gUW1GDLqP6 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gLxvN7TEsB"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1775649940112 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLxvN7TEsB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggLxvN7TEsB_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTc0IiBoZWlnaHQ9IjExOTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3NC0xMTk5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NzQiIGhlaWdodD0iMTE5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTc0IiBoZWlnaHQ9IjExOTkiIGZpbGw9InVybCgjZy05NzQtMTE5OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3NCIgdG89Ijk3NCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggLxvN7TEsB_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTc0IiBoZWlnaHQ9IjExOTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3NC0xMTk5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NzQiIGhlaWdodD0iMTE5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTc0IiBoZWlnaHQ9IjExOTkiIGZpbGw9InVybCgjZy05NzQtMTE5OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3NCIgdG89Ijk3NCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ section.settings.ggLxvN7TEsB_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTc0IiBoZWlnaHQ9IjExOTkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTk3NC0xMTk5Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI5NzQiIGhlaWdodD0iMTE5OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iOTc0IiBoZWlnaHQ9IjExOTkiIGZpbGw9InVybCgjZy05NzQtMTE5OSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTk3NCIgdG89Ijk3NCIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ section.settings.ggLxvN7TEsB_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-614247644155347758 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/himanitest123/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=614247632495182640&sectionId=614247644155347758)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggk9e7hZASw_text","label":"ggk9e7hZASw_text","default":"<p>The Science Behind Gut Health</p>"},{"type":"html","id":"ggU86P4M_4H_text","label":"ggU86P4M_4H_text","default":"Your gut impacts everything your Body feel"},{"type":"html","id":"gg1jrNVgvXB_text","label":"gg1jrNVgvXB_text","default":"<p>Your digestive system is home to trillions of bacteria that influence digestion, energy, immunity, and even mood.</p><p>When your gut is out of balance, it can affect how you process food, absorb nutrients, and respond to stress.</p><p>Supporting your gut daily helps restore balance, improve digestion, and keep your body functioning at its best.</p>"},{"type":"html","id":"ggrR-BUU7mm_label","label":"ggrR-BUU7mm_label","default":"<p>Learn More</p>"},{"type":"html","id":"ggLxvN7TEsB_srcSet_desktop_src","label":"ggLxvN7TEsB_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0946/3011/7697/files/Gemini_Generated_Image_78u0ju78u0ju78u0_3.png"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}