
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614247644860056219.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614247644860056219.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614247644860056219.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614247644860056219.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614247644860056219.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614247644860056219.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614247644860056219.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614247644860056219.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614247644860056219.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614247644860056219.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614247644860056219.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614247644860056219.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614247644860056219.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614247644860056219.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614247644860056219.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614247644860056219.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-614247644860056219.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614247644860056219.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614247644860056219.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614247644860056219.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614247644860056219.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614247644860056219.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614247644860056219.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614247644860056219.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614247644860056219.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614247644860056219.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614247644860056219.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614247644860056219.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614247644860056219.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614247644860056219.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614247644860056219.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614247644860056219.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614247644860056219.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614247644860056219.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614247644860056219.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614247644860056219.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614247644860056219.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614247644860056219.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-614247644860056219.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-614247644860056219.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614247644860056219.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614247644860056219.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614247644860056219.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614247644860056219.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614247644860056219.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614247644860056219.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614247644860056219.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614247644860056219.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-614247644860056219.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614247644860056219.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614247644860056219.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614247644860056219.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614247644860056219.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-614247644860056219.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614247644860056219.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614247644860056219.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614247644860056219.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-614247644860056219.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614247644860056219.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-614247644860056219.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614247644860056219.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-614247644860056219.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-614247644860056219.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614247644860056219.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614247644860056219.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-614247644860056219.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614247644860056219.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614247644860056219.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614247644860056219.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614247644860056219.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614247644860056219.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-614247644860056219.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614247644860056219.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614247644860056219.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-614247644860056219.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614247644860056219.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614247644860056219.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614247644860056219.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-614247644860056219.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614247644860056219.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614247644860056219.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-614247644860056219.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614247644860056219.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614247644860056219.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614247644860056219.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614247644860056219.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614247644860056219.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614247644860056219.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614247644860056219.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614247644860056219 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-614247644860056219 .gp-relative{position:relative}.gps-614247644860056219 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614247644860056219 .gp-mb-0{margin-bottom:0}.gps-614247644860056219 .gp-inline-block{display:inline-block}.gps-614247644860056219 .gp-flex{display:flex}.gps-614247644860056219 .gp-grid{display:grid}.gps-614247644860056219 .gp-contents{display:contents}.gps-614247644860056219 .\!gp-hidden{display:none!important}.gps-614247644860056219 .gp-hidden{display:none}.gps-614247644860056219 .gp-h-auto{height:auto}.gps-614247644860056219 .gp-h-full{height:100%}.gps-614247644860056219 .gp-w-full{width:100%}.gps-614247644860056219 .gp-max-w-full{max-width:100%}.gps-614247644860056219 .gp-flex-none{flex:none}.gps-614247644860056219 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614247644860056219 .gp-flex-col{flex-direction:column}.gps-614247644860056219 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614247644860056219 .gp-duration-200{transition-duration:.2s}.gps-614247644860056219 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614247644860056219 .tablet\:\!gp-hidden{display:none!important}.gps-614247644860056219 .tablet\:gp-hidden{display:none}.gps-614247644860056219 .tablet\:gp-h-auto{height:auto}.gps-614247644860056219 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-614247644860056219 .mobile\:\!gp-hidden{display:none!important}.gps-614247644860056219 .mobile\:gp-hidden{display:none}.gps-614247644860056219 .mobile\:gp-h-auto{height:auto}.gps-614247644860056219 .mobile\:gp-flex-none{flex:none}}.gps-614247644860056219 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gLw7C6XW8T"}' data-id="gLw7C6XW8T" id="gLw7C6XW8T" data-same-height-subgrid-container class="gLw7C6XW8T gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:80px;--pb:80px;--pt-tablet:60px;--pl-tablet:48px;--pb-tablet:60px;--pr-tablet:48px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOHoE8WVEP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gia2w4j2gV"
        class="gia2w4j2gV"
        style="--ta:center;--mb:12px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:600;--size:38px;--size-tablet:38px;--size-mobile:28px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggia2w4j2gV_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGeFm9cPeB"
        class="gGeFm9cPeB"
        style="--ta:center;--mb:20px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:50%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGeFm9cPeB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"grLZnMJb_o"}' data-id="grLZnMJb_o" id="grLZnMJb_o" data-same-height-subgrid-container class="grLZnMJb_o gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pt-mobile:0px;--pt-tablet:0px;--cg:30px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gjvH0_tFSI gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gjXClF_7aB"}' data-id="gjXClF_7aB" id="gjXClF_7aB" data-same-height-subgrid-container class="gjXClF_7aB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:start"
      class="ghPjKxkG13 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_lJn1LmEG"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:sticky;--top:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775649939489 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_lJn1LmEG"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg_lJn1LmEG_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI3MSIgaGVpZ2h0PSI5NTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNzEtOTUyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjcxIiBoZWlnaHQ9Ijk1MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI3MSIgaGVpZ2h0PSI5NTIiIGZpbGw9InVybCgjZy0xMjcxLTk1MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNzEiIHRvPSIxMjcxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg_lJn1LmEG_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI3MSIgaGVpZ2h0PSI5NTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNzEtOTUyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjcxIiBoZWlnaHQ9Ijk1MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI3MSIgaGVpZ2h0PSI5NTIiIGZpbGw9InVybCgjZy0xMjcxLTk1MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNzEiIHRvPSIxMjcxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.gg_lJn1LmEG_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI3MSIgaGVpZ2h0PSI5NTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNzEtOTUyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjcxIiBoZWlnaHQ9Ijk1MiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI3MSIgaGVpZ2h0PSI5NTIiIGZpbGw9InVybCgjZy0xMjcxLTk1MikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNzEiIHRvPSIxMjcxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.gg_lJn1LmEG_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:12px;--bblr:12px;--bbrr:12px;--btlr:12px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="guTkBFRFn_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gW8MAOMHbR"}' data-id="gW8MAOMHbR" id="gW8MAOMHbR" data-same-height-subgrid-container class="gW8MAOMHbR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gX3PWogqH_ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g2Y3-stNux"}' data-id="g2Y3-stNux" id="g2Y3-stNux" data-same-height-subgrid-container class="g2Y3-stNux gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gkjB6dltjY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwZMeOznWt"
        class="gwZMeOznWt"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:dashed;--bc:#5D7054;--bw:1px 1px 1px 1px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#252A1A;--tt:none;word-break:break-word;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:12px;--pr:12px;--pt:4px;--pb:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwZMeOznWt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gm0HpnKlDL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grCvJZmH10"
        class="grCvJZmH10"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrCvJZmH10_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g3cVkS4iQ5"}' data-id="g3cVkS4iQ5" id="g3cVkS4iQ5" data-same-height-subgrid-container class="g3cVkS4iQ5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geezRukALP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="go9OHOFVTa"
        class="go9OHOFVTa"
        style="--ta:left;--bs:dashed;--bw:0px 0px 0px 1px;--bc:#5D7054;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:17px;--pt:4px;--pl:28px;--pb:18px;--ml-tablet:17px;--pt-tablet:4px;--pl-tablet:28px;--pb-tablet:18px;--ml-mobile:14px;--pt-mobile:8px;--pl-mobile:24px;--pb-mobile:18px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggo9OHOFVTa_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gdEk7JsEYf"}' data-id="gdEk7JsEYf" id="gdEk7JsEYf" data-same-height-subgrid-container class="gdEk7JsEYf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0Y5nGdJcA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gyvNCwOQ9I"}' data-id="gyvNCwOQ9I" id="gyvNCwOQ9I" data-same-height-subgrid-container class="gyvNCwOQ9I gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gPvM_io6kC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH2SGXH890"
        class="gH2SGXH890"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:dashed;--bc:#5D7054;--bw:1px 1px 1px 1px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#252A1A;--tt:none;word-break:break-word;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:12px;--pr:12px;--pt:4px;--pb:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH2SGXH890_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gvMFaDBcPz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grjkLuav32"
        class="grjkLuav32"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrjkLuav32_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g4xOpuHOnj"}' data-id="g4xOpuHOnj" id="g4xOpuHOnj" data-same-height-subgrid-container class="g4xOpuHOnj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gW5jvXgU94 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4kmeLNBq_"
        class="g4kmeLNBq_"
        style="--ta:left;--bs:dashed;--bw:0px 0px 0px 1px;--bc:#5D7054;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:17px;--pt:4px;--pl:28px;--pb:18px;--ml-tablet:17px;--pt-tablet:4px;--pl-tablet:28px;--pb-tablet:18px;--ml-mobile:14px;--pt-mobile:8px;--pl-mobile:24px;--pb-mobile:18px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4kmeLNBq__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gkbfEjAO63"}' data-id="gkbfEjAO63" id="gkbfEjAO63" data-same-height-subgrid-container class="gkbfEjAO63 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8R4QWbLiM gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gGU6q7xOS-"}' data-id="gGU6q7xOS-" id="gGU6q7xOS-" data-same-height-subgrid-container class="gGU6q7xOS- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gYpFHDfzx_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAtHTrsFA4"
        class="gAtHTrsFA4"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:dashed;--bc:#5D7054;--bw:1px 1px 1px 1px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#252A1A;--tt:none;word-break:break-word;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:12px;--pr:12px;--pt:4px;--pb:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAtHTrsFA4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gGhipitkwG gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfTpx5ZIgt"
        class="gfTpx5ZIgt"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfTpx5ZIgt_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQQWPHFHYE"}' data-id="gQQWPHFHYE" id="gQQWPHFHYE" data-same-height-subgrid-container class="gQQWPHFHYE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gQ01lQg9XM gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTlLhKKhqu"
        class="gTlLhKKhqu"
        style="--ta:left;--bs:dashed;--bw:0px 0px 0px 1px;--bc:#5D7054;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:17px;--pt:4px;--pl:28px;--pb:18px;--ml-tablet:17px;--pt-tablet:4px;--pl-tablet:28px;--pb-tablet:18px;--ml-mobile:14px;--pt-mobile:8px;--pl-mobile:24px;--pb-mobile:18px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTlLhKKhqu_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQTvUSmBta"}' data-id="gQTvUSmBta" id="gQTvUSmBta" data-same-height-subgrid-container class="gQTvUSmBta gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOSeActRyU gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g8eUAkFHhu"}' data-id="g8eUAkFHhu" id="g8eUAkFHhu" data-same-height-subgrid-container class="g8eUAkFHhu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gvNL9o_VBz gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPf9_rEacR"
        class="gPf9_rEacR"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:dashed;--bc:#5D7054;--bw:1px 1px 1px 1px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#252A1A;--tt:none;word-break:break-word;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:12px;--pr:12px;--pt:4px;--pb:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPf9_rEacR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gRB2Dw-wUs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9h9cq3q1g"
        class="g9h9cq3q1g"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9h9cq3q1g_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gOknS9cD5d"}' data-id="gOknS9cD5d" id="gOknS9cD5d" data-same-height-subgrid-container class="gOknS9cD5d gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9MmiTXkhw gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqctov_oeF"
        class="gqctov_oeF"
        style="--ta:left;--bs:dashed;--bw:0px 0px 0px 1px;--bc:#5D7054;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:17px;--pt:4px;--pl:28px;--pb:18px;--ml-tablet:17px;--pt-tablet:4px;--pl-tablet:28px;--pb-tablet:18px;--ml-mobile:14px;--pt-mobile:8px;--pl-mobile:24px;--pb-mobile:18px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqctov_oeF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g2PST-3G43"}' data-id="g2PST-3G43" id="g2PST-3G43" data-same-height-subgrid-container class="g2PST-3G43 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUwo9HLx6d gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"geoZ1t6SpV"}' data-id="geoZ1t6SpV" id="geoZ1t6SpV" data-same-height-subgrid-container class="geoZ1t6SpV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gJBlV4lFpD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9bWe5bOeM"
        class="g9bWe5bOeM"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:dashed;--bc:#5D7054;--bw:1px 1px 1px 1px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#252A1A;--tt:none;word-break:break-word;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:12px;--pr:12px;--pt:4px;--pb:4px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9bWe5bOeM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gsbV2HUH9U gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCxvUi54ZD"
        class="gCxvUi54ZD"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ff:var(--g-font-heading, heading);--weight:600;--size:18px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCxvUi54ZD_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gfxClxa5zq"}' data-id="gfxClxa5zq" id="gfxClxa5zq" data-same-height-subgrid-container class="gfxClxa5zq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_kP1iBA2s gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggWglH-5hF"
        class="ggWglH-5hF"
        style="--ta:left;--bs:dashed;--bw:0px 0px 0px 1px;--bc:#5D7054;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:17px;--pt:4px;--pl:28px;--pb:18px;--ml-tablet:17px;--pt-tablet:4px;--pl-tablet:28px;--pb-tablet:18px;--ml-mobile:14px;--pt-mobile:8px;--pl-mobile:24px;--pb-mobile:18px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:80%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggWglH-5hF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-614247644860056219 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/himanitest123/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=614247632495182640&sectionId=614247644860056219)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggia2w4j2gV_text","label":"ggia2w4j2gV_text","default":"Here’s how it works"},{"type":"html","id":"ggGeFm9cPeB_text","label":"ggGeFm9cPeB_text","default":"<p>GemGut is a natural, multi-action formula designed to support your digestive system in real-life conditions—stress, irregular eating, and modern lifestyles. Instead of forcing quick fixes, it works with your body to gently reset, rebalance, and strengthen your gut over time.</p>"},{"type":"html","id":"gg_lJn1LmEG_srcSet_desktop_src","label":"gg_lJn1LmEG_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0946/3011/7697/files/Gemini_Generated_Image_78u0ju78u0ju78u0_1.png"},{"type":"html","id":"ggwZMeOznWt_text","label":"ggwZMeOznWt_text","default":"<p>1</p>"},{"type":"html","id":"ggrCvJZmH10_text","label":"ggrCvJZmH10_text","default":"We start by calming gut disruption"},{"type":"html","id":"ggo9OHOFVTa_text","label":"ggo9OHOFVTa_text","default":"<p>Your gut is constantly affected by daily stress, кофе, fast food, and irregular eating habits. These factors can irritate your digestive system, leading to bloating, discomfort, and sluggish digestion.</p><p>GemGut begins with soothing botanical extracts like ginger, chamomile, and aloe vera to calm inflammation and relax the digestive tract. This creates a more stable internal environment—an essential first step before any real gut repair can happen.</p>"},{"type":"html","id":"ggH2SGXH890_text","label":"ggH2SGXH890_text","default":"<p>2</p>"},{"type":"html","id":"ggrjkLuav32_text","label":"ggrjkLuav32_text","default":"Then we reduce harmful bacteria"},{"type":"html","id":"gg4kmeLNBq__text","label":"gg4kmeLNBq__text","default":"<p>An imbalanced gut often means harmful bacteria have started to dominate. Instead of harsh elimination, GemGut uses natural prebiotic fibers to gently shift the ecosystem.</p><p>These fibers act as nourishment for beneficial bacteria while making it harder for harmful microbes to thrive. Over time, this helps rebalance your gut in a sustainable, non-aggressive way—without disrupting your body’s natural rhythm.</p>"},{"type":"html","id":"ggAtHTrsFA4_text","label":"ggAtHTrsFA4_text","default":"<p>3</p>"},{"type":"html","id":"ggfTpx5ZIgt_text","label":"ggfTpx5ZIgt_text","default":"We reintroduce beneficial bacteria"},{"type":"html","id":"ggTlLhKKhqu_text","label":"ggTlLhKKhqu_text","default":"<p>With the gut environment improved, live probiotic cultures (Lactobacillus &amp; Bifidobacterium) are able to settle and begin restoring a healthy microbiome.</p>"},{"type":"html","id":"ggPf9_rEacR_text","label":"ggPf9_rEacR_text","default":"<p>4</p>"},{"type":"html","id":"gg9h9cq3q1g_text","label":"gg9h9cq3q1g_text","default":"Your digestion starts working efficiently again"},{"type":"html","id":"ggqctov_oeF_text","label":"ggqctov_oeF_text","default":"<p>Plant-based enzymes and peppermint support faster breakdown of food, reducing bloating, heaviness, and post-meal discomfort—often within 30–60 minutes.</p>"},{"type":"html","id":"gg9bWe5bOeM_text","label":"gg9bWe5bOeM_text","default":"<p>5</p>"},{"type":"html","id":"ggCxvUi54ZD_text","label":"ggCxvUi54ZD_text","default":"Your gut stays balanced and resilient"},{"type":"html","id":"gggWglH-5hF_text","label":"gggWglH-5hF_text","default":"<p>With consistent use, your gut becomes more stable, better at handling stress, and more efficient at absorbing nutrients—helping you feel lighter, more energized, and in control every day.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}