
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614247644876768048.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614247644876768048.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614247644876768048.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614247644876768048.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614247644876768048.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614247644876768048.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614247644876768048.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614247644876768048.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614247644876768048.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614247644876768048.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614247644876768048.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614247644876768048.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614247644876768048.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614247644876768048.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614247644876768048.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614247644876768048.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614247644876768048.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614247644876768048.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614247644876768048.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614247644876768048.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614247644876768048.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614247644876768048.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614247644876768048.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614247644876768048.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614247644876768048.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614247644876768048.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614247644876768048.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614247644876768048.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614247644876768048.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614247644876768048.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614247644876768048.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614247644876768048.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614247644876768048.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-614247644876768048.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-614247644876768048.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-614247644876768048.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-614247644876768048.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614247644876768048.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614247644876768048.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614247644876768048.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614247644876768048.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614247644876768048.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614247644876768048.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614247644876768048.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614247644876768048.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614247644876768048.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614247644876768048.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614247644876768048.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614247644876768048.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614247644876768048.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614247644876768048.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614247644876768048.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614247644876768048.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614247644876768048.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-614247644876768048.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614247644876768048.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614247644876768048.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-614247644876768048.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-614247644876768048.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-614247644876768048.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-614247644876768048.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614247644876768048.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614247644876768048.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614247644876768048.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614247644876768048.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614247644876768048.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-614247644876768048.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614247644876768048.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614247644876768048.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614247644876768048.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614247644876768048.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614247644876768048.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614247644876768048.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614247644876768048.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-614247644876768048.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-614247644876768048.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-614247644876768048.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-614247644876768048.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614247644876768048.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614247644876768048.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614247644876768048.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614247644876768048.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614247644876768048.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614247644876768048.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614247644876768048.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614247644876768048 .gp-relative{position:relative}.gps-614247644876768048 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614247644876768048 .gp-mb-0{margin-bottom:0}.gps-614247644876768048 .gp-flex{display:flex}.gps-614247644876768048 .gp-inline-flex{display:inline-flex}.gps-614247644876768048 .gp-grid{display:grid}.gps-614247644876768048 .\!gp-hidden{display:none!important}.gps-614247644876768048 .gp-hidden{display:none}.gps-614247644876768048 .gp-max-w-full{max-width:100%}.gps-614247644876768048 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614247644876768048 .gp-flex-col{flex-direction:column}.gps-614247644876768048 .gp-items-center{align-items:center}.gps-614247644876768048 .gp-justify-center{justify-content:center}.gps-614247644876768048 .gp-overflow-hidden{overflow:hidden}.gps-614247644876768048 .gp-leading-\[0\]{line-height:0}.gps-614247644876768048 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614247644876768048 .gp-duration-200{transition-duration:.2s}.gps-614247644876768048 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614247644876768048 .tablet\:\!gp-hidden{display:none!important}.gps-614247644876768048 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-614247644876768048 .mobile\:\!gp-hidden{display:none!important}.gps-614247644876768048 .mobile\:gp-hidden{display:none}}.gps-614247644876768048 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-614247644876768048 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-614247644876768048 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-614247644876768048 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-614247644876768048 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gOGrokAAn8"}' data-id="gOGrokAAn8" id="gOGrokAAn8" data-same-height-subgrid-container class="gOGrokAAn8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:80px;--pb:80px;--pt-tablet:60px;--pl-tablet:48px;--pb-tablet:60px;--pr-tablet:48px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZKxym9VI3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-bFWoIKmw"
        class="g-bFWoIKmw"
        style="--ta:center;--mb:12px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:600;--size:38px;--size-tablet:38px;--size-mobile:28px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;--tt:capitalize;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-bFWoIKmw_text | replace: '$locationOrigin', locationOrigin | downcase }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gDCvCWPtBo"}' data-id="gDCvCWPtBo" id="gDCvCWPtBo" data-same-height-subgrid-container class="gDCvCWPtBo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gYTWIim445 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gdQQrggti6"}' data-id="gdQQrggti6" id="gdQQrggti6" data-same-height-subgrid-container class="gdQQrggti6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:12px;--mr-tablet:auto;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gd4IRhcFd0 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gu-MpW7Ghc"}' data-id="gu-MpW7Ghc" id="gu-MpW7Ghc" data-same-height-subgrid-container class="gu-MpW7Ghc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gYhojzDogt gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gHZd4vU3ZV" class="gp-leading-[0] gHZd4vU3ZV" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gHZd4vU3ZV" class="icon-wrapper gp-inline-flex gp-overflow-hidden gHZd4vU3ZV " style="--shadow:none">
      
        <div >
          <span style="--c:#252A1A;--t:rotate(0deg);--w:24px;--w-tablet:22px;--w-mobile:22px;--h:24px;--h-tablet:22px;--h-mobile:22px;--minw:24px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:24px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="coins-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817619857899880">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224.56,103.81C213.43,97.75,198.47,93.39,182,91.34V84c0-12.12-9.58-23.1-27-30.93C139.16,45.93,118.2,42,96,42S52.84,45.93,37,53.07C19.58,60.9,10,71.88,10,84v40c0,12.12,9.58,23.1,27,30.93,10.49,4.72,23.21,8,37,9.73V172c0,12.12,9.58,23.1,27,30.93C116.84,210.07,137.8,214,160,214s43.16-3.93,59-11.07c17.39-7.83,27-18.81,27-30.93V132C246,121.35,238.39,111.34,224.56,103.81Zm-5.74,10.54C228.61,119.68,234,126,234,132c0,14.19-30.39,30-74,30a166.9,166.9,0,0,1-21.21-1.34A110.79,110.79,0,0,0,155,154.93c17.39-7.83,27-18.81,27-30.93V103.43C196.4,105.36,209.3,109.16,218.82,114.35ZM108.16,153.58c-3.92.27-8,.42-12.16.42-5.3,0-10.4-.24-15.28-.67a2.22,2.22,0,0,0-.37,0c-3.58-.33-7-.77-10.35-1.3V124.12A178,178,0,0,0,96,126a178,178,0,0,0,26-1.88V152c-4.34.69-8.91,1.22-13.69,1.56ZM170,105.89V124c0,9.54-13.75,19.8-36,25.51V121.85a115,115,0,0,0,21-6.92A66.2,66.2,0,0,0,170,105.89ZM96,54c43.61,0,74,15.81,74,30s-30.39,30-74,30S22,98.19,22,84,52.39,54,96,54ZM22,124V105.89a66.2,66.2,0,0,0,15,9,115,115,0,0,0,21,6.92v27.66C35.75,143.8,22,133.54,22,124Zm64,48v-6.28c3.3.18,6.63.28,10,.28q5.91,0,11.66-.37A123.17,123.17,0,0,0,122,169.84v27.67C99.75,191.8,86,181.54,86,172Zm48,28V172.1a177.84,177.84,0,0,0,26,1.9,178,178,0,0,0,26-1.88V200a170,170,0,0,1-52,0Zm64-2.49V169.85a115,115,0,0,0,21-6.92,66.2,66.2,0,0,0,15-9V172C234,181.54,220.25,191.8,198,197.51Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gw24FxRrol gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gn9kg9mo44"
        class="gn9kg9mo44"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-heading, heading);--weight:500;--size:20px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggn9kg9mo44_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIBInrbWWS"
        class="gIBInrbWWS"
        style="--ta:left;--mb:0px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIBInrbWWS_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gK0yupk_-M"}' data-id="gK0yupk_-M" id="gK0yupk_-M" data-same-height-subgrid-container class="gK0yupk_-M gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:12px;--mr-tablet:auto;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gD8kxzZSqA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"grS8NUspHz"}' data-id="grS8NUspHz" id="grS8NUspHz" data-same-height-subgrid-container class="grS8NUspHz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gwfPQG7T5o gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gnXjlirwF9" class="gp-leading-[0] gnXjlirwF9" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gnXjlirwF9" class="icon-wrapper gp-inline-flex gp-overflow-hidden gnXjlirwF9 " style="--shadow:none">
      
        <div >
          <span style="--c:#252A1A;--t:rotate(0deg);--w:24px;--w-tablet:22px;--w-mobile:22px;--h:24px;--h-tablet:22px;--h-mobile:22px;--minw:24px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:24px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="package-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817641566896488">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M222.72,67.91l-88-48.18a13.9,13.9,0,0,0-13.44,0l-88,48.18A14,14,0,0,0,26,80.18v95.64a14,14,0,0,0,7.28,12.27l88,48.18a13.92,13.92,0,0,0,13.44,0l88-48.18A14,14,0,0,0,230,175.82V80.18A14,14,0,0,0,222.72,67.91ZM127,30.25a2,2,0,0,1,1.92,0L212.51,76,178.57,94.57,94.05,48.31ZM122,223,39,177.57a2,2,0,0,1-1-1.75V86.66l84,46ZM43.49,76,81.56,55.15l84.51,46.26L128,122.24ZM218,175.82a2,2,0,0,1-1,1.75h0L134,223V132.64l36-19.71V152a6,6,0,0,0,12,0V106.37l36-19.71Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gGDv1UoR35 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHQig-QFSw"
        class="gHQig-QFSw"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-heading, heading);--weight:500;--size:20px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHQig-QFSw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gV4ko4wAcg"
        class="gV4ko4wAcg"
        style="--ta:left;--mb:0px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggV4ko4wAcg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gqSmCJ1_pV gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gY_zIG-MsB"}' data-id="gY_zIG-MsB" id="gY_zIG-MsB" data-same-height-subgrid-container class="gY_zIG-MsB gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:12px;--mr-tablet:auto;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9HSpypgYZ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"ga4zWfpA5S"}' data-id="ga4zWfpA5S" id="ga4zWfpA5S" data-same-height-subgrid-container class="ga4zWfpA5S gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gcL5mRfuUZ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gugVFhBbKU" class="gp-leading-[0] gugVFhBbKU" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gugVFhBbKU" class="icon-wrapper gp-inline-flex gp-overflow-hidden gugVFhBbKU " style="--shadow:none">
      
        <div >
          <span style="--c:#252A1A;--t:rotate(0deg);--w:24px;--w-tablet:22px;--w-mobile:22px;--h:24px;--h-tablet:22px;--h-mobile:22px;--minw:24px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:24px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817649810145640">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M237.28,97.87A14.18,14.18,0,0,0,224.76,88l-60.25-4.87-23.22-56.2a14.37,14.37,0,0,0-26.58,0L91.49,83.11,31.24,88a14.18,14.18,0,0,0-12.52,9.89A14.43,14.43,0,0,0,23,113.32L69,152.93l-14,59.25a14.4,14.4,0,0,0,5.59,15,14.1,14.1,0,0,0,15.91.6L128,196.12l51.58,31.71a14.1,14.1,0,0,0,15.91-.6,14.4,14.4,0,0,0,5.59-15l-14-59.25L233,113.32A14.43,14.43,0,0,0,237.28,97.87Zm-12.14,6.37-48.69,42a6,6,0,0,0-1.92,5.92l14.88,62.79a2.35,2.35,0,0,1-.95,2.57,2.24,2.24,0,0,1-2.6.1L131.14,184a6,6,0,0,0-6.28,0L70.14,217.61a2.24,2.24,0,0,1-2.6-.1,2.35,2.35,0,0,1-1-2.57l14.88-62.79a6,6,0,0,0-1.92-5.92l-48.69-42a2.37,2.37,0,0,1-.73-2.65,2.28,2.28,0,0,1,2.07-1.65l63.92-5.16a6,6,0,0,0,5.06-3.69l24.63-59.6a2.35,2.35,0,0,1,4.38,0l24.63,59.6a6,6,0,0,0,5.06,3.69l63.92,5.16a2.28,2.28,0,0,1,2.07,1.65A2.37,2.37,0,0,1,225.14,104.24Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gDgQUnJTPf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghwv1O15Tr"
        class="ghwv1O15Tr"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-heading, heading);--weight:500;--size:20px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghwv1O15Tr_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_5kFxGl3o"
        class="g_5kFxGl3o"
        style="--ta:left;--mb:0px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_5kFxGl3o_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gORTRp_5Mw"}' data-id="gORTRp_5Mw" id="gORTRp_5Mw" data-same-height-subgrid-container class="gORTRp_5Mw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:12px;--mr-tablet:auto;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gNlxE6K6ah gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gQBx5hPV1t"}' data-id="gQBx5hPV1t" id="gQBx5hPV1t" data-same-height-subgrid-container class="gQBx5hPV1t gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="guk6OqA3sS gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gBfW3_0YKM" class="gp-leading-[0] gBfW3_0YKM" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gBfW3_0YKM" class="icon-wrapper gp-inline-flex gp-overflow-hidden gBfW3_0YKM " style="--shadow:none">
      
        <div >
          <span style="--c:#252A1A;--t:rotate(0deg);--w:24px;--w-tablet:22px;--w-mobile:22px;--h:24px;--h-tablet:22px;--h-mobile:22px;--minw:24px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:24px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="person-arms-spread-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817694267670888">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M160,40a32,32,0,1,0-32,32A32,32,0,0,0,160,40ZM128,56a16,16,0,1,1,16-16A16,16,0,0,1,128,56ZM231.5,87.71A19.62,19.62,0,0,0,212,72H44a20,20,0,0,0-8.38,38.16l.13,0,50.75,22.35-21,79.72A20,20,0,0,0,102,228.8l26-44.87,26,44.87a20,20,0,0,0,36.4-16.52l-21-79.72,50.75-22.35.13,0A19.64,19.64,0,0,0,231.5,87.71Zm-17.8,7.9-56.93,25.06a8,8,0,0,0-4.51,9.36L175.13,217a7,7,0,0,0,.49,1.35,4,4,0,0,1-5,5.45,4,4,0,0,1-2.25-2.07,6.31,6.31,0,0,0-.34-.63L134.92,164a8,8,0,0,0-13.84,0L88,221.05a6.31,6.31,0,0,0-.34.63,4,4,0,0,1-2.25,2.07,4,4,0,0,1-5-5.45,7,7,0,0,0,.49-1.35L103.74,130a8,8,0,0,0-4.51-9.36L42.3,95.61A4,4,0,0,1,44,88H212a4,4,0,0,1,1.73,7.61Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gxR9l4cytT gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTkPZXknqb"
        class="gTkPZXknqb"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-heading, heading);--weight:500;--size:20px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTkPZXknqb_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gr5VRzJIrv"
        class="gr5VRzJIrv"
        style="--ta:left;--mb:0px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggr5VRzJIrv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gcxmG4CvxL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gX06dlfp35"}' data-id="gX06dlfp35" id="gX06dlfp35" data-same-height-subgrid-container class="gX06dlfp35 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:12px;--mr-tablet:auto;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMeKZWFDnA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gtcIbXHy9n"}' data-id="gtcIbXHy9n" id="gtcIbXHy9n" data-same-height-subgrid-container class="gtcIbXHy9n gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gwaefq0S9R gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gPeGm5XYiV" class="gp-leading-[0] gPeGm5XYiV" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gPeGm5XYiV" class="icon-wrapper gp-inline-flex gp-overflow-hidden gPeGm5XYiV " style="--shadow:none">
      
        <div >
          <span style="--c:#252A1A;--t:rotate(0deg);--w:24px;--w-tablet:22px;--w-mobile:22px;--h:24px;--h-tablet:22px;--h-mobile:22px;--minw:24px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:24px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="eyedropper-sample-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817623417160040">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M222,67.34a33.81,33.81,0,0,0-10.64-24.25C198.12,30.56,176.68,31,163.54,44.18L142.82,65l-.63-.63a22,22,0,0,0-31.11,0l-9,9a14,14,0,0,0,0,19.81l3.47,3.47L53.14,149.1a37.81,37.81,0,0,0-9.84,36.73l-8.31,19a11.68,11.68,0,0,0,2.46,13A13.91,13.91,0,0,0,47.32,222,14.15,14.15,0,0,0,53,220.82L71,212.92a37.92,37.92,0,0,0,35.84-10.07l52.44-52.46,3.47,3.48a14,14,0,0,0,19.8,0l9-9a22.06,22.06,0,0,0,0-31.13l-.66-.65L212,91.85A33.76,33.76,0,0,0,222,67.34Zm-123.61,127a26,26,0,0,1-26,6.47,6,6,0,0,0-4.17.24l-20,8.75a2,2,0,0,1-2.09-.31l9.12-20.9a5.94,5.94,0,0,0,.19-4.31A25.91,25.91,0,0,1,56,166h70.78ZM138.78,154H65.24l48.83-48.84,36.76,36.78Zm64.77-70.59L178.17,108.9a6,6,0,0,0,0,8.47l4.88,4.89a10,10,0,0,1,0,14.15l-9,9a2,2,0,0,1-2.82,0l-60.69-60.7a2,2,0,0,1,0-2.83l9-9a10,10,0,0,1,14.14,0l4.89,4.89a6,6,0,0,0,4.24,1.75h0a6,6,0,0,0,4.25-1.77L172,52.66c8.57-8.58,22.51-9,31.07-.85a22,22,0,0,1,.44,31.57Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gQ_palIUWX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0D8a8y8in"
        class="g0D8a8y8in"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-heading, heading);--weight:500;--size:20px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0D8a8y8in_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g18BNNG3TB"
        class="g18BNNG3TB"
        style="--ta:left;--mb:0px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg18BNNG3TB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F3F6F3","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gkNXv7958C"}' data-id="gkNXv7958C" id="gkNXv7958C" data-same-height-subgrid-container class="gkNXv7958C gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:0px;--ml:auto;--mb:12px;--mr:auto;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:12px;--mr-tablet:auto;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--pr-tablet:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:12px;--mr-mobile:auto;--pt-mobile:16px;--pl-mobile:16px;--pb-mobile:16px;--pr-mobile:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#F3F6F3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glIyBf5PEC gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gJI7XQ-2EU"}' data-id="gJI7XQ-2EU" id="gJI7XQ-2EU" data-same-height-subgrid-container class="gJI7XQ-2EU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gjnjGTZ_bb gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gDioQ9cXGg" class="gp-leading-[0] gDioQ9cXGg" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gDioQ9cXGg" class="icon-wrapper gp-inline-flex gp-overflow-hidden gDioQ9cXGg " style="--shadow:none">
      
        <div >
          <span style="--c:#252A1A;--t:rotate(0deg);--w:24px;--w-tablet:22px;--w-mobile:22px;--h:24px;--h-tablet:22px;--h-mobile:22px;--minw:24px;--minw-tablet:22px;--minw-mobile:22px;--height-desktop:24px;--height-tablet:22px;--height-mobile:22px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="gift-light" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817626372243816">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M216,74H174.74a46.41,46.41,0,0,0,6-4.48,27.56,27.56,0,0,0,9.22-20A30.63,30.63,0,0,0,158.5,18a27.56,27.56,0,0,0-20,9.22A57.1,57.1,0,0,0,128,45.76a57.1,57.1,0,0,0-10.48-18.53A27.56,27.56,0,0,0,97.5,18,30.63,30.63,0,0,0,66,49.51a27.56,27.56,0,0,0,9.22,20,45.74,45.74,0,0,0,6,4.48H40A14,14,0,0,0,26,88v32a14,14,0,0,0,14,14h2v66a14,14,0,0,0,14,14H200a14,14,0,0,0,14-14V134h2a14,14,0,0,0,14-14V88A14,14,0,0,0,216,74ZM135.77,63c2.25-12.12,6.29-21.75,11.69-27.85A15.68,15.68,0,0,1,158.86,30h.55A18.6,18.6,0,0,1,178,49.14a15.68,15.68,0,0,1-5.18,11.4C162.1,70,143.92,72.83,134.34,73.65,134.59,70.76,135,67.08,135.77,63ZM83.45,35.45A18.69,18.69,0,0,1,96.59,30h.55a15.68,15.68,0,0,1,11.4,5.18C118,45.9,120.83,64.08,121.65,73.66c-2.89-.25-6.57-.68-10.61-1.43C98.92,70,89.29,65.94,83.19,60.53A15.64,15.64,0,0,1,78,49.14,18.65,18.65,0,0,1,83.45,35.45ZM38,120V88a2,2,0,0,1,2-2h82v36H40A2,2,0,0,1,38,120Zm16,80V134h68v68H56A2,2,0,0,1,54,200Zm148,0a2,2,0,0,1-2,2H134V134h68Zm16-80a2,2,0,0,1-2,2H134V86h82a2,2,0,0,1,2,2Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start;--jc-tablet:center"
      class="gI77wM2Fy2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCDzURVDN9"
        class="gCDzURVDN9"
        style="--ta:left;--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-heading, heading);--weight:500;--size:20px;--size-tablet:22px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCDzURVDN9_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSqYKXAIL8"
        class="gSqYKXAIL8"
        style="--ta:left;--mb:0px;--mb-tablet:12px;--mb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#252A1A;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSqYKXAIL8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-614247644876768048 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/himanitest123/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=614247632495182640&sectionId=614247644876768048)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-bFWoIKmw_text","label":"gg-bFWoIKmw_text","default":"Subscribe &amp; save for long-term gut health"},{"type":"html","id":"ggn9kg9mo44_text","label":"ggn9kg9mo44_text","default":"Save on every order"},{"type":"html","id":"ggIBInrbWWS_text","label":"ggIBInrbWWS_text","default":"<p>When you subscribe, you unlock exclusive pricing that makes it easier to stay consistent. No need to reorder every time.</p>"},{"type":"html","id":"ggHQig-QFSw_text","label":"ggHQig-QFSw_text","default":"Free shipping, always"},{"type":"html","id":"ggV4ko4wAcg_text","label":"ggV4ko4wAcg_text","default":"<p>Your GemGut is delivered straight to your door at no extra cost, so you can focus on building a healthy routine without hidden expenses.</p>"},{"type":"html","id":"gghwv1O15Tr_text","label":"gghwv1O15Tr_text","default":"Earn rewards as you go"},{"type":"html","id":"gg_5kFxGl3o_text","label":"gg_5kFxGl3o_text","default":"<p>Every order brings you closer to rewards. Collect points with each purchase and redeem them for discounts, products, or exclusive perks.</p>"},{"type":"html","id":"ggTkPZXknqb_text","label":"ggTkPZXknqb_text","default":"Early access to new releases"},{"type":"html","id":"ggr5VRzJIrv_text","label":"ggr5VRzJIrv_text","default":"<p>Be the first to experience new formulas, improvements, and product launches. Subscribers get priority access so you’re always one step ahead.</p>"},{"type":"html","id":"gg0D8a8y8in_text","label":"gg0D8a8y8in_text","default":"Exclusive samples"},{"type":"html","id":"gg18BNNG3TB_text","label":"gg18BNNG3TB_text","default":"<p>Try new products and variations before they officially launch. It’s a simple way to explore what works best for your body.</p>"},{"type":"html","id":"ggCDzURVDN9_text","label":"ggCDzURVDN9_text","default":"Bonus gifts along the way"},{"type":"html","id":"ggSqYKXAIL8_text","label":"ggSqYKXAIL8_text","default":"<p>Stay consistent and get rewarded. Receive special gifts on milestone deliveries as a thank-you for making your health a priority.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}