
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614247644474114862.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614247644474114862.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614247644474114862.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614247644474114862.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614247644474114862.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614247644474114862.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614247644474114862.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614247644474114862.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614247644474114862.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-614247644474114862.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614247644474114862.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-614247644474114862.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614247644474114862.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614247644474114862.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-614247644474114862.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614247644474114862.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-614247644474114862.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614247644474114862.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614247644474114862.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614247644474114862.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-614247644474114862.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614247644474114862.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-614247644474114862.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614247644474114862.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-614247644474114862.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614247644474114862.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614247644474114862.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614247644474114862.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614247644474114862.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614247644474114862.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614247644474114862.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614247644474114862.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614247644474114862.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614247644474114862.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614247644474114862.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614247644474114862.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614247644474114862.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614247644474114862.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614247644474114862.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614247644474114862.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-614247644474114862.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614247644474114862.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614247644474114862.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614247644474114862.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614247644474114862.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614247644474114862.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614247644474114862.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614247644474114862.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614247644474114862.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614247644474114862.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614247644474114862.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614247644474114862.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614247644474114862.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614247644474114862.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614247644474114862.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614247644474114862.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614247644474114862.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614247644474114862.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614247644474114862.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614247644474114862.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-614247644474114862.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614247644474114862.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614247644474114862.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614247644474114862.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614247644474114862.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-614247644474114862.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614247644474114862.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614247644474114862.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614247644474114862.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614247644474114862.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614247644474114862.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614247644474114862.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614247644474114862.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-614247644474114862.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614247644474114862.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614247644474114862.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614247644474114862.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614247644474114862.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-614247644474114862.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614247644474114862.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614247644474114862.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614247644474114862 .gp-relative{position:relative}.gps-614247644474114862 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614247644474114862 .gp-mb-0{margin-bottom:0}.gps-614247644474114862 .gp-flex{display:flex}.gps-614247644474114862 .gp-inline-flex{display:inline-flex}.gps-614247644474114862 .gp-grid{display:grid}.gps-614247644474114862 .\!gp-hidden{display:none!important}.gps-614247644474114862 .gp-hidden{display:none}.gps-614247644474114862 .gp-max-w-full{max-width:100%}.gps-614247644474114862 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614247644474114862 .gp-flex-col{flex-direction:column}.gps-614247644474114862 .gp-items-center{align-items:center}.gps-614247644474114862 .gp-justify-center{justify-content:center}.gps-614247644474114862 .gp-overflow-hidden{overflow:hidden}.gps-614247644474114862 .gp-leading-\[0\]{line-height:0}.gps-614247644474114862 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614247644474114862 .gp-duration-200{transition-duration:.2s}.gps-614247644474114862 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614247644474114862 .tablet\:\!gp-hidden{display:none!important}.gps-614247644474114862 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-614247644474114862 .mobile\:\!gp-hidden{display:none!important}.gps-614247644474114862 .mobile\:gp-hidden{display:none}}.gps-614247644474114862 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-614247644474114862 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-614247644474114862 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-614247644474114862 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-614247644474114862 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gX8RuPFkFF"}' data-id="gX8RuPFkFF" id="gX8RuPFkFF" data-same-height-subgrid-container class="gX8RuPFkFF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:45px;--pb:45px;--pt-tablet:48px;--pl-tablet:48px;--pb-tablet:48px;--pr-tablet:48px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1gSsIK-a3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g4XtXcC7Ly"}' data-id="g4XtXcC7Ly" id="g4XtXcC7Ly" data-same-height-subgrid-container class="g4XtXcC7Ly gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--pl:90px;--pr:90px;--mb-tablet:0px;--pl-tablet:0px;--pr-tablet:0px;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:3px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPCvJrJuS7 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gGZ7LWMofH"}' data-id="gGZ7LWMofH" id="gGZ7LWMofH" data-same-height-subgrid-container class="gGZ7LWMofH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDVvb9OkdG gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gcJfEo4aiZ" class="gp-leading-[0] gcJfEo4aiZ" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gcJfEo4aiZ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gcJfEo4aiZ " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:12px;--pb-mobile:12px;--bblr:999px;--bbrr:999px;--btlr:999px;--btrr:999px;--focus-bblr:999px;--focus-bbrr:999px;--focus-btlr:999px;--focus-btrr:999px;-undefined-bblr:999px;-undefined-bbrr:999px;-undefined-btlr:999px;-undefined-btrr:999px;--bg:#EDF4EB;--shadow:none">
      
        <div >
          <span style="--c:#5D7054;--t:rotate(0deg);--w:42px;--w-tablet:42px;--w-mobile:28px;--h:42px;--h-tablet:42px;--h-mobile:28px;--minw:42px;--minw-tablet:42px;--minw-mobile:28px;--height-desktop:42px;--height-tablet:42px;--height-mobile:28px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="flask-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817680056516968">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M221.69,199.77,160,96.92V40h8a8,8,0,0,0,0-16H88a8,8,0,0,0,0,16h8V96.92L34.31,199.77A16,16,0,0,0,48,224H208a16,16,0,0,0,13.72-24.23ZM110.86,103.25A7.93,7.93,0,0,0,112,99.14V40h32V99.14a7.93,7.93,0,0,0,1.14,4.11L183.36,167c-12,2.37-29.07,1.37-51.75-10.11-15.91-8.05-31.05-12.32-45.22-12.81ZM48,208l28.54-47.58c14.25-1.74,30.31,1.85,47.82,10.72,19,9.61,35,12.88,48,12.88a69.89,69.89,0,0,0,19.55-2.7L208,208Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grPz7zF0dg"
        class="grPz7zF0dg"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:500;--size:22px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrPz7zF0dg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g18cL3U6Sl"
        class="g18cL3U6Sl"
        style="--ta:left;--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#5D7054;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg18cL3U6Sl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gNKvdwPyyJ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gG6Tr9V12b"}' data-id="gG6Tr9V12b" id="gG6Tr9V12b" data-same-height-subgrid-container class="gG6Tr9V12b gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glLg4w56m4 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gCIuvxAxVP" class="gp-leading-[0] gCIuvxAxVP" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gCIuvxAxVP" class="icon-wrapper gp-inline-flex gp-overflow-hidden gCIuvxAxVP " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:12px;--pb-mobile:12px;--bblr:999px;--bbrr:999px;--btlr:999px;--btrr:999px;--focus-bblr:999px;--focus-bbrr:999px;--focus-btlr:999px;--focus-btrr:999px;-undefined-bblr:999px;-undefined-bbrr:999px;-undefined-btlr:999px;-undefined-btrr:999px;--bg:#EDF4EB;--shadow:none">
      
        <div >
          <span style="--c:#5D7054;--t:rotate(0deg);--w:42px;--w-tablet:42px;--w-mobile:28px;--h:42px;--h-tablet:42px;--h-mobile:28px;--minw:42px;--minw-tablet:42px;--minw-mobile:28px;--height-desktop:42px;--height-tablet:42px;--height-mobile:28px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="microscope-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817690725319016">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,208H203.94A88.05,88.05,0,0,0,144,64.37V32a16,16,0,0,0-16-16H80A16,16,0,0,0,64,32V136a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V80.46A72,72,0,0,1,181.25,208H32a8,8,0,0,0,0,16H224a8,8,0,0,0,0-16Zm-96-72H80V32h48V136ZM72,184a8,8,0,0,1,0-16h64a8,8,0,0,1,0,16Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gR6d3YOYcv"
        class="gR6d3YOYcv"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:500;--size:22px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggR6d3YOYcv_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gndzE41cEM"
        class="gndzE41cEM"
        style="--ta:left;--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#5D7054;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggndzE41cEM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gGdeGjVlbW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gvLGs-RPci"}' data-id="gvLGs-RPci" id="gvLGs-RPci" data-same-height-subgrid-container class="gvLGs-RPci gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3_nbYWqXE gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gdB2AOPB2T" class="gp-leading-[0] gdB2AOPB2T" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gdB2AOPB2T" class="icon-wrapper gp-inline-flex gp-overflow-hidden gdB2AOPB2T " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:12px;--pb-mobile:12px;--bblr:999px;--bbrr:999px;--btlr:999px;--btrr:999px;--focus-bblr:999px;--focus-bbrr:999px;--focus-btlr:999px;--focus-btrr:999px;-undefined-bblr:999px;-undefined-bbrr:999px;-undefined-btlr:999px;-undefined-btrr:999px;--bg:#EDF4EB;--shadow:none">
      
        <div >
          <span style="--c:#5D7054;--t:rotate(0deg);--w:42px;--w-tablet:42px;--w-mobile:28px;--h:42px;--h-tablet:42px;--h-mobile:28px;--minw:42px;--minw-tablet:42px;--minw-mobile:28px;--height-desktop:42px;--height-tablet:42px;--height-mobile:28px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="git-fork-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817684214579560">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,64a32,32,0,1,0-40,31v17a8,8,0,0,1-8,8H80a8,8,0,0,1-8-8V95a32,32,0,1,0-16,0v17a24,24,0,0,0,24,24h40v25a32,32,0,1,0,16,0V136h40a24,24,0,0,0,24-24V95A32.06,32.06,0,0,0,224,64ZM48,64A16,16,0,1,1,64,80,16,16,0,0,1,48,64Zm96,128a16,16,0,1,1-16-16A16,16,0,0,1,144,192ZM192,80a16,16,0,1,1,16-16A16,16,0,0,1,192,80Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-3gYF-qKw"
        class="g-3gYF-qKw"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:500;--size:22px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-3gYF-qKw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYgwkUUxd9"
        class="gYgwkUUxd9"
        style="--ta:left;--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#5D7054;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYgwkUUxd9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gM11IybIGR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gsI8UXorxY"}' data-id="gsI8UXorxY" id="gsI8UXorxY" data-same-height-subgrid-container class="gsI8UXorxY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giX0JjKWeX gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g0usLFNCmW" class="gp-leading-[0] g0usLFNCmW" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="g0usLFNCmW" class="icon-wrapper gp-inline-flex gp-overflow-hidden g0usLFNCmW " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:12px;--pb-mobile:12px;--bblr:999px;--bbrr:999px;--btlr:999px;--btrr:999px;--focus-bblr:999px;--focus-bbrr:999px;--focus-btlr:999px;--focus-btrr:999px;-undefined-bblr:999px;-undefined-bbrr:999px;-undefined-btlr:999px;-undefined-btrr:999px;--bg:#EDF4EB;--shadow:none">
      
        <div >
          <span style="--c:#5D7054;--t:rotate(0deg);--w:42px;--w-tablet:42px;--w-mobile:28px;--h:42px;--h-tablet:42px;--h-mobile:28px;--minw:42px;--minw-tablet:42px;--minw-mobile:28px;--height-desktop:42px;--height-tablet:42px;--height-mobile:28px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="tree-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817710002602344">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M198.1,62.59a76,76,0,0,0-140.2,0A71.71,71.71,0,0,0,16,127.8C15.9,166,48,199,86.14,200A72.09,72.09,0,0,0,120,192.47V232a8,8,0,0,0,16,0V192.47A72.17,72.17,0,0,0,168,200l1.82,0C208,199,240.11,166,240,127.8A71.71,71.71,0,0,0,198.1,62.59ZM169.45,184a56.08,56.08,0,0,1-33.45-10v-41l43.58-21.78a8,8,0,1,0-7.16-14.32L136,115.06V88a8,8,0,0,0-16,0v51.06L83.58,120.84a8,8,0,1,0-7.16,14.32L120,156.94v17a56,56,0,0,1-33.45,10C56.9,183.23,31.92,157.52,32,127.84A55.77,55.77,0,0,1,67.11,76a8,8,0,0,0,4.53-4.67,60,60,0,0,1,112.72,0A8,8,0,0,0,188.89,76,55.79,55.79,0,0,1,224,127.84C224.08,157.52,199.1,183.23,169.45,184Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu_P-7iNYp"
        class="gu_P-7iNYp"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:500;--size:22px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu_P-7iNYp_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu1_weiB9k"
        class="gu1_weiB9k"
        style="--ta:left;--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#5D7054;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu1_weiB9k_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gTlb4q2lt3 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gf_Ckgkbn5"}' data-id="gf_Ckgkbn5" id="gf_Ckgkbn5" data-same-height-subgrid-container class="gf_Ckgkbn5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giOJkizaFF gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gFKq5TnJVZ" class="gp-leading-[0] gFKq5TnJVZ" style="--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center">
      <div data-id="gFKq5TnJVZ" class="icon-wrapper gp-inline-flex gp-overflow-hidden gFKq5TnJVZ " style="--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:12px;--pb-mobile:12px;--bblr:999px;--bbrr:999px;--btlr:999px;--btrr:999px;--focus-bblr:999px;--focus-bbrr:999px;--focus-btlr:999px;--focus-btrr:999px;-undefined-bblr:999px;-undefined-bbrr:999px;-undefined-btlr:999px;-undefined-btrr:999px;--bg:#EDF4EB;--shadow:none">
      
        <div >
          <span style="--c:#5D7054;--t:rotate(0deg);--w:42px;--w-tablet:42px;--w-mobile:28px;--h:42px;--h-tablet:42px;--h-mobile:28px;--minw:42px;--minw-tablet:42px;--minw-mobile:28px;--height-desktop:42px;--height-tablet:42px;--height-mobile:28px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="test-tube-regular" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817706431086952">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M237.66,86.34l-60-60a8,8,0,0,0-11.32,0L37.11,155.57a44.77,44.77,0,0,0,63.32,63.32L212.32,107l22.21-7.4a8,8,0,0,0,3.13-13.25ZM89.11,207.57a28.77,28.77,0,0,1-40.68-40.68l28.8-28.8c8.47-2.9,21.75-4,39.07,5,10.6,5.54,20.18,8,28.56,8.73ZM205.47,92.41a8,8,0,0,0-3.13,1.93l-39.57,39.57c-8.47,2.9-21.75,4-39.07-5-10.6-5.54-20.18-8-28.56-8.73L172,43.31,217.19,88.5Z" /></svg></span>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gxXr_0BlLC"
        class="gxXr_0BlLC"
        style="--ta:left;--mb:4px;--mb-tablet:4px;--mb-mobile:4px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-heading, heading);--weight:500;--size:22px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#252A1A;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggxXr_0BlLC_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnDJr7cENF"
        class="gnDJr7cENF"
        style="--ta:left;--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:150%;--lh-mobile:150%;--c:#5D7054;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnDJr7cENF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-614247644474114862 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/himanitest123/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=614247632495182640&sectionId=614247644474114862)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrPz7zF0dg_text","label":"ggrPz7zF0dg_text","default":"Science-Backed Support"},{"type":"html","id":"gg18cL3U6Sl_text","label":"gg18cL3U6Sl_text","default":"<p>Formulated based on modern gut microbiome research to support digestion and long-term gut health.</p>"},{"type":"html","id":"ggR6d3YOYcv_text","label":"ggR6d3YOYcv_text","default":"Targeted Daily Formula"},{"type":"html","id":"ggndzE41cEM_text","label":"ggndzE41cEM_text","default":"<p>Designed for real-life routines—works effectively even with stress, irregular meals, and busy lifestyles.</p>"},{"type":"html","id":"gg-3gYF-qKw_text","label":"gg-3gYF-qKw_text","default":"Gentle on Your System"},{"type":"html","id":"ggYgwkUUxd9_text","label":"ggYgwkUUxd9_text","default":"<p>Non-habit forming and easy on the stomach, suitable for daily use without harsh effects.</p>"},{"type":"html","id":"ggu_P-7iNYp_text","label":"ggu_P-7iNYp_text","default":"Plant-Based &amp; Gut-Friendly"},{"type":"html","id":"ggu1_weiB9k_text","label":"ggu1_weiB9k_text","default":"<p>Made with natural fibers, probiotics, and botanical extractsto support your body the natural way.</p>"},{"type":"html","id":"ggxXr_0BlLC_text","label":"ggxXr_0BlLC_text","default":"No Artificial Additives"},{"type":"html","id":"ggnDJr7cENF_text","label":"ggnDJr7cENF_text","default":"<p>Free from unnecessary fillers, artificial colors, and synthetic ingredients—just what your gut truly needs.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}